@import url("./main.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #82c91e;
	--primary-color-light: #cbee9b;
	--secondary-color: #ff7300;
	--main-black: #000000;
	--main-white: #fff;
	--main-black: #000000;
	--secondary-black: #7c7a7a;
	--debug-white: 1px solid white;
	--debug-black: 1px solid black;
}

/* Beginning of Custom Settings  */

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
	width: 100%;
}

.message-class {
	display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 1rem;
}

.left-frame, .right-frame{

	min-height: 400px;
}


.settings {
	background-color: #dadada;
	padding: 0.5rem;
	margin-right: -12px;
	border-radius: 4px;
	cursor: pointer;
}

.add-icon {
	background-color: var(--primary-color);
	padding: 0.5rem;
	margin-right: -12px;
	border-radius: 4px;
    cursor: pointer;
    color: var(--main-white)
}


.left-frame,.right-frame {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2)
}

ul {
	list-style: none;
}

.card {
	height: 500px;
	border-radius: 4px !important;
}
.contacts_body {
	padding: 0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}
.msg_card_body {
	overflow-y: auto;
}

.card-header {
    background-color: white!important;
}

.card-footer {
	border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    width: 100%;
    background-color: white!important;
    padding: 0!important;
}



.card-footer input{
    width: 100%!important;
    background-color: white!important;
    padding: 0.2rem 1rem;
    resize: none;
    margin-left: 1rem;
    color: black!important;
}


.container {
	align-content: center;
}
.search {
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
}
.search:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.type_msg {
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
	height: 60px !important;
	overflow-y: auto;
}
.type_msg:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.attach_btn {
	margin-left: 1rem;
	/* border: 0 !important; */
	color:black!important;
    cursor: pointer;

}
.send_btn {
    margin-right: 2rem;
	cursor: pointer;
}

.user_img {
	border: 1.5px solid #f5f6fa;
}
.user_img_msg {
	height: 40px;
	width: 40px;
	border: 1.5px solid #f5f6fa;
}
.img_cont {
	position: relative;
	height: 50px;
	width: 50px;
}
.img_cont_msg {
	height: 40px;
	width: 40px;
}
.online_icon {
	position: absolute;
	height: 15px;
	width: 15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border: 1.5px solid white;
}
.offline {
	background-color: #c23616 !important;
}
.user_info {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span {
    font-weight: 700;
	font-size: 20px;
	color: black;
}
.user_info p {
	font-size: 10px;
	color: black;
}
.video_cam {
	margin-left: 50px;
	margin-top: 5px;
}
.video_cam span {
	color: black
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.msg_cotainer,.msg {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 5px;
	background-color: #e2e0e0;
	padding: 0.5rem 1rem;
	position: relative;
}
.msg_cotainer_send {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
    border-radius: 5px;
	background-color: var(--primary-color-light);
	padding: 0.5rem 1rem;
	position: relative;
}
.msg_time {
	position: absolute;
	left: 0;
	bottom: -15px;
	color: black;
	font-size: 10px;
}
.msg_time_send {
	position: absolute;
	right: 0;
	bottom: -15px;
	color:black;
	font-size: 10px;
}
.msg_head {
	position: relative;
}

.action_menu {
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i {
	padding-right: 10px;
}
.action_menu ul li:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
	.contacts_card {
		margin-bottom: 15px !important;
	}
}
